@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans+KR:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
:root {
  --color-primary: #4f46e5;
  --color-primary-alt: #2b4bee;
  --color-background: #f6f6f8;
  --color-background-alt: #f6f6f8;
  --color-surface: #ffffff;
  --color-text-primary: #09090b;
  --color-text-secondary: #71717a;
}

/* Dark Mode */
.dark {
  --color-primary: #818cf8;
  --color-primary-alt: #6366f1;
  --color-background: #09090b;
  --color-background-alt: #101322;
  --color-surface: #18181b;
  --color-text-primary: #fafafa;
  --color-text-secondary: #a1a1aa;
}

body {
  color: var(--color-text-primary);
  background: var(--color-background);
  font-family: 'Inter', 'Noto Sans KR', sans-serif;
}

/* Material Icons */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
